body{
    max-width: 1366px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    /* border-bottom: grey .5px solid;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    -moz-box-shadow: 0px 3px 6px #00000029;
         box-shadow: 0px 3px 6px #00000029; */
}
.nav-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-Group {
    margin-right: 45px;
}
.nav-item{
margin: 0 22px;
text-decoration: none;
font: normal normal normal 30px/49px Tamil MN;
letter-spacing: -3px;
color: #292929;
position: relative;
}
.nav-item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #292929;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.nav-item:hover:after { 
    width: 100%; 
    left: 0; 
  }
.img { 
top: 242px;
left: 1101px;
width: 566px;
height: 566px;
background: transparent url('../MySite/Images/IMG_0005.jpeg') 0% 0% no-repeat padding-box;
padding: 1%;
}
.profileImg {
display: flex;
justify-content: right;
margin-right: 125px;


}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}


.hero-bkg-animated {
    background: url(../Images/topography.png) repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 588px;
    padding-top: 50px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
    z-index: -1;
    }
    
    
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
ul {
    width: 50%;
    margin-left: auto;
}

h1 {
/* margin-top: 150px; */
    box-align: left;
    margin-left: 105px;
    font-size: 45px;
}
.buttonResume {
    margin-left: 105px
}
button {
    /* border: none;
    color: #292929;
    padding: 15px 32px;
    text-align: center;

    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; */

    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
    font: normal normal normal 24px/49px Tamil MN;
    width: 193px;
    height: 60px;
    cursor: pointer;
    background: #414C41 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    border-color: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-image: initial;
  }
  button:hover{
      background-color: #7C907C;
      box-shadow: 0px 3px 6px #00000029;
  }
   button:after {
    background: transparent linear-gradient(180deg, #667966 0%, #2A332A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 2px #00000029;
    transition: .5s;
   }
h2 {
    top: 723px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 137px;
    height: 53px;
    text-align: center;
    font: normal normal normal 40px/55px Tamil MN;
    letter-spacing: -3.38px;
    color: #292929;
}

h3 {
text-align: center;
font: normal normal normal 45px/79px Tamil MN;
color: #292929;
}
h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font: normal normal normal 55px/91px Tamil MN;
    letter-spacing: 0px;
    color: #292929;
}
p {
margin-left: 105px;
width: 683px;
height: 190px;
text-align: left;
font: normal normal normal 30px/45px Tamil Sangam MN;
letter-spacing: 0px;
color: #292929;
}


.wrapperTitles {
display: flex;
 justify-content: space-evenly;
 align-items:center;
}
.itemDiv {
display: inline-block;
   justify-content: space-evenly;
   align-items:center;
   height: 261px;
    width: 215px;
}
.itemDiv {
    display: inline-block;
       justify-content: space-evenly;
       align-items:center;
       height: 261px;
        width: 215px;
    }
.sectionServices {
    margin-top: 525px;
}
.serviceTitle {
    margin-bottom: 15px;
}
.servicesText{
text-align: left;
font: normal normal normal 30px/45px Tamil Sangam MN;
letter-spacing: 0px;
color: #292929;
}
.servicesText2{
    text-align: left;
    font: normal normal normal 25px/45px Tamil Sangam MN;
    letter-spacing: 0px;
    color: #292929;
    }
#container {
height: 645px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.selectedWorks {
    margin: 100px;
    margin-top: 50px;
 }
.tanBlock1 {
position: relative;
width: 500px;
height: 500px;
display: inline-block;
background: #DBD4CE 0% 0% no-repeat padding-box;
border-radius: 50px;
margin-bottom: 85px;
margin-right: 85px;
transition-property: background, border-radius;
transition-duration: .5s;
transition-timing-function: linear;
}
.tanBlock {
position: relative;
width: 500px;
height: 500px;
display: inline-block;
background: #DBD4CE 0% 0% no-repeat padding-box;
border-radius: 50px;
margin-bottom: 85px;
transition-property: background, border-radius;
transition-duration: .5s;
transition-timing-function: linear;
}
.txt-box {
position: absolute;
top: 440px;
right: 50px;
font-size: 35px;
}
.tanBlock:hover, .tanBlock1:hover{
background: #414C41;
border-radius: 50%;
}
  .mockup-Img1 {
position: absolute;
top: 100px;
right: 10px;
}
.mockup-Img {
position: absolute;
top: 60px;
right: 155px;
}
.mockup-Img2 {
position: absolute;
top: 150px;
right: 25px;
}
.mockup-Img3 {
    position: absolute;
    top: 130px;
    right: 110px;
    }
li {
    text-align: left;
    font: normal normal normal 40px/49px Tamil MN;
    letter-spacing: -3px;
    color: #292929;
justify-content: space-evenly;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.socials {
    align-content: space-around;
    }
    .socialImg {
        margin-right: 45px;
        transition-property: background, border-radius;
    transition-duration: .5s;
    transition-timing-function: linear;
    margin: 1em;
    margin-top: 40px;

    }
    /* .circle-button{
        display: inline-block;
        font-size: 2rem;
        transition: all 0.2s ease;
      }
    .circle-button:hover{
        animation: circle-anim 0.3s ease forwards;
        transition: all 0.4s ease;
      } */
    
    /* .socialImg:hover {
        background: #414C41;
        border-radius: 50%;
    } */
footer {

    text-align: center;
    align-self: flex-end;
    padding: 2%;
    margin-top: 40px;
}
.footer-item{
margin: 0 22px;
text-decoration: none;
font: normal normal normal 30px/49px Tamil MN;
letter-spacing: -3px;
color: #292929;
position: relative;
}
.footer-item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #292929;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.footer-item:hover:after { 
    width: 100%; 
    left: 0; 
  }